@import "http://fonts.fontstorage.com/import/ptsans.css";
@import "http://fonts.fontstorage.com/import/playfair.css";

/*Colors*/
:root {
  --lightblue: #EDF6F9;
  --medblue: #83C5BE;
  --darkblue: #006D77;
  --lightpink: #FFDDD2;
  --darkpink: #E29578;
}

/* Global */
* {
  box-sizing: border-box;
  padding: 50;
  margin: 50;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media only screen and (min-width: 550px) {
  html {
    font-size: 100%;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 8px;
}

#landingPage {
  background-image: url(https://cdn.glitch.global/54b33cb5-ee5f-46e3-a712-78db1738ce50/pink_bg.jpg?v=1666714153107);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/*Typography*/
h1, h2, h4 {
  font-family: "Gill Sans", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-family: "Gill Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 5px;
  /*padding-left: 50px;
  padding-right: 200px;*/
}

#contents{
  font-family: "Gill Sans", sans-serif;;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: -200px;
  margin-bottom: 5px;
  /*padding-left: 50px;
  padding-right: 200px;*/
}

h4 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 5px;
}

.heading {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
}

p, ol, li{
  font-family: "Gill Sans", sans-serif;
  font-size: 1.6rem; 
}

figcaption {
  font-family: "Gill Sans", sans-serif;
  font-size: 1.3rem;
  font-style: italic; 
}

a {
  text-decoration: none;
  color: inherit;
}

/*p {
  padding-left: 50px;
  padding-right: 200px;
  } */

ul {
  list-style-type: disc;
  padding-left: 50px;
  /* padding-right: 300px;*/
}

ul li {
  padding-left: 0.5rem;
}

ol {
  /*list-style-type: circle;*/
  padding-left: 50px;
  /*padding-right: 300px;*/
}

ol li {
  padding-left: 0.5rem;
}

.button-div {
  display: flex;
  justify-content: center;
}

.center12 {
  grid-column: 2 / 12;
}

/* Navigation Bar */

#landingPage {
  background-image: url(https://cdn.glitch.global/54b33cb5-ee5f-46e3-a712-78db1738ce50/pink_bg.jpg?v=1666714153107);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.navbar-custom {
  background: #233140;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}

.navbar-custom a:focus {
  outline: none;
}
.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}

.overlay a:hover,
.overlay a:focus {
  color: #c59f9b;
}

.navbar-custom .navbar-nav li a {
  color: white;
}

.navbar-custom .navbar-nav li a:hover {
  color: #d46443;
  outline: none;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #d46443;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #d46443;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #d46443;
  color: white;
  border-color: #d46443;
}

a.hover {
  opacity: 1;
  transition: opacity linear 0.2s;
}

a.hover:hover {
  opacity: 0.6;
  transition: opacity linear 0.2s;
}

a.active {
  font-weight: bold;
}

.social-media {
  margin: 20px 0;
  text-align: center;
  line-height: 3rem;
}

.social-media a {
  margin-right: 20px;
  border-bottom: 0.5px solid black;
  transition: color linear 0.2s;
}

.social-media a:hover {
  color: #006D77;
  transition: color linear 0.2s;
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

/* Heading */
.intro {
  padding: 10px 30px;
  text-align: center;
}

.intro-title {
  font-weight: normal;
}

.intro-desc {
  line-height: 1.5em;
  margin: 10px 0 10px 0;
}

#profile-pic {
  width: 35%;
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 1100px) {
/* Google Slides */
.slides-container{
  position: relative;
  width: 100%;
  padding-top: 60%;
  padding-bottom: 0%;
  overflow: hidden;
  text-align: center;
}

.slides-container iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* FA icons */
.icon {
  padding: 0 10px;
}

.icon-margin {
  margin-top: 10px;
}

/*.list li {
  padding-left: 30px;
  
}*/

hr {
  margin: 20px 0;
}

.app-img {
  text-align: center;
  margin: 10px;
  padding-top: 10px;
}

.app-img img {
  width: 75%;
}

@media only screen and (min-width: 1100px) {
  .app-img img {
    width: 50%;
  }
}

/* Footer */
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 130px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text {
  text-align: center;
  font-size: 1rem;
}

@media only screen and (min-width: 550px) {
  /* Header */
  header {
    justify-content: space-between;
  }
}