body {
    margin: 0;
    background: linear-gradient(90deg, rgba(212,212,213,1) 15%, rgba(238,237,237,1) 51%, rgba(204,204,203,1) 92%);
    box-sizing: border-box;
    line-height: 2.15;
}

.navbar {
    background: rgb(66,150,102);
    background: radial-gradient(circle, rgba(66,150,102,1) 24%, rgba(20,35,164,1) 83%, rgba(11,23,146,1) 100%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.about-us-left {
    max-width: 100%;
}

 .about-us-right {
    max-height: 100%;
    min-width: 100%;
    background-color: #fff;
    padding: 30px;
    box-shadow: 3px 1px 18px 6px rgba(20,35,164,1);
}

.about {
    font-size: 30px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;   
}

.my-why-us-single-icon {
    box-shadow: 3px 1px 18px 6px rgba(20,35,164,1);
}

.my-0 {
    color: rgb(17, 11, 129);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
}

p {
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 30px;
}

.mu-why-us-area, .mu-video-area, .pricing-header {
    display: inline;
    float: left;
    text-align: center;
    width: 100%;
}

.my-why-us-single-icon {
    border: 1px solid rgb(126, 125, 125);
    font-size: 30px;
    display: inline-block;
    width: 85px;
    height: 85px;
    line-height: 85px;
    border-radius: 50%;
    text-align: center;
}

.w-80 {
    background: radial-gradient(circle, rgba(66,150,102,1) 24%, rgba(20,35,164,1) 83%, rgba(11,23,146,1) 100%);
    color: white;
    min-width: 50%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;   
}

.w-80:hover {
    background: rgb(208, 255, 0);
    color: rgb(253, 62, 72);
}

.submit {
    background: radial-gradient(circle, rgba(66,150,102,1) 24%, rgba(20,35,164,1) 83%, rgba(11,23,146,1) 100%);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    padding: 16px 24px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 200px;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

 .submit:hover {
    background: rgb(208, 255, 0);
    color: rgb(253, 62, 72);
    font-weight: 800;
} 

 .card-body {
     background-color: rgb(250, 248, 248);
 }

 .card-header, .card-body {
    box-shadow: 3px 1px 18px 6px rgba(20,35,164,1);
 }

 .w-50 {
     border-radius: 45%;
 }

 .pricing-card {
    max-width: 100%;
}

.col-lg-4 {
    text-align: center;
    margin-bottom: 50px;
}

.form-control {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;   
}

.form-group {
    display: flex;
    justify-content: center;
}

label {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 300;    
}

.text-input {
    background: linear-gradient(90deg, rgb(248, 248, 248) 15%, rgb(253, 253, 253) 51%, rgba(204,204,203,1) 92%);
    border-radius: 10px;
    border: none;
    padding: 12px 60px;
}

.Venice_attraction-list {
  list-style-image: linear-gradient(to left bottom, red, blue);
  font-size: 15px;
  text-align: inherit;
  width: 50%;
  margin: 0 auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #333333;
}